@media (min-width: 549px) and (max-width: 980px) {
  .about {
    &__title {
      font-size: 28px;

    }
    &__text {
      font-size: 16px;
    }
  }
  .about__text {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .explore {
    margin-bottom: 80px;
    &__title, &__arrows {
      font-size: 26px;
    }
    &__title::before{
      left: -10px;
      width: 3px;
      height: 30px;
    }
    &__title::after{
      right: -10px;
      width: 3px;
      height: 30px;
    }
  }

  .about__abilities {
    margin-bottom: 60px;
  }

  .abilities {
    &__title, &__subtitle {

    }
  }
  .abilities {
    margin-bottom: 20px;
  }
}
